* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
  height: 100vh;
  display: grid;
  align-items: center;
  background: url(img/bg.jpg) no-repeat center;
  background-size: cover;
}

.game {
  display: none;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  justify-items: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
}

.gameboard {
  text-align: center;
}

.cells {
  width: 500px;
  height: 500px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.controls > * {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.controls .result {
  font-size: 1.7rem;
  color: red;
}

.btn {
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  cursor: pointer;
}

.score {
  text-align: center;
  font-size: 1.3rem;
}

.lined.thick {
  border: solid 3px #fff;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.lined.thick.active {
  border-color: red;
}

.red {
  color: red;
}

.player-1:hover,
.player-2:hover,
.btn:hover {
  color: red;
}

/* Settings */
.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #fff;
}

.settings h1,
.settings h2 {
  grid-column: 1 / -1;
}

.settings img {
  width: 76px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(1deg) brightness(102%)
    contrast(102%);
}

.player-1,
.player-2 {
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.start-btn {
  grid-column: 1 / -1;
}

.active {
  border-color: red;
}
