* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Permanent Marker', cursive;
}

.wrapper {
  text-align: center;
}

.gameboard {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid black;
}

.field {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
